<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Pets</title>
</head>
<body>
    <h1>Available Pets for Adoption</h1>
    <ul>
        {% for pet in pets %}
            <li>
                <h2><a href="{{ url_for('pet_show', id=pet.id) }}">{{ pet.name }}</a></h2>
                <img src="{{ url_for('static', filename='assets/' + pet.image) }}" 
                alt="Picture of {{ pet.name }}" 
                width="300">
                <p>{{ pet.fun_fact }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

